/* body {
  background: #f3f1f2;
  font-family: sans-serif;
} */

.ql-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* font-family:'"Roboto Slab", sans-serif'; */
  background: #fefcfc;

  font-family: "Roboto","Helvetica","Arial", sans-serif;
  line-height: 1.3;
  font-weight: 400;
  color: #344767;/*text*/
  font-size: 14px;
}

/* Snow Theme eaecec */
.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;  /*text*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ql-editor {
  min-height: 10px;
  height: min-content;
  word-break: break-all;
}