video{
  width:100%;
  height:80vh;
  object-fit:cover;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: block */
  /* position:'relative'; */
  background-color: black;
}
.bg-video-overlay{
  position: absolute;
  display:flex;
  align-items: flex-end;
  padding-bottom: 75px;
  justify-content: center;
  top:0;
  width: 100%;
  height: 80vh;
  background-color: rgba(200,0,200,0.03);
  
  text-align: center;
}
/* .background{
  background-color: rgba(200,0,200,1);
} */